<div class="container">

<div class="row">
  <div class="col-auto">
    <h2 class="text-center">Welcome! {{first_name}}</h2>
  </div>
</div>

{{!-- // books we have to offer --}}

{{!-- //which books have already been borrowed --}}
</div>
<script src="./js/books.js"></script>
 